<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINS Login Page</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
</head>
<body>
    <div class="container">
        <div class="tabs">
            <div class="tab active" id="createAccountTab">Create Account</div>
            <div class="tab" id="loginTab">Login To Account</div>
        </div>
        <div class="form" id="createAccountForm">
            <h1>Welcome to FINS</h1>
            <p><i>Food Insecurity Notification System</i></p>
            <h2>Create New Account</h2>
            {% if error_message %}
            <p class="error_message">{{ error_message }}</p>
            {% endif %}
            <form action="/createAccount" method="post">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>

                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>

                <label for="userName">User Name:</label>
                <input type="text" id="userName" name="userName" required>

                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" required>

                <label for="confirmEmail">Confirm Email:</label>
                <input type="email" id="confirmEmail" name="confirmEmail" required>

                <label for="passwordHash">Password:</label>
                <input type="password" id="passwordHash" name="passwordHash" required>

                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>

                <button type="submit">Create Account</button>
                <button type="button" id="clearFormButton">Cancel</button>

            </form>
        </div>
        <div class="form" id="loginForm">
            <h1>Welcome to FINS</h1>
            <p><i>Food Insecurity Notification System</i></p>
            <h2>Login</h2>
            <form action="/login" method="post">
                <label for="loginEmail">Username OR Email Address:</label>
                <input type="email" id="loginEmail" name="loginEmail" required>

                <label for="loginPassword">Password:</label>
                <input type="password" id="loginPassword" name="loginPassword" required>

                <button type="submit">Login</button>
                <button type="button" id="clearFormButton">Cancel</button>
            </form>
        </div>
    </div>

    <!-- Run JS to style page and add click listeners to tabs -->
    <script src="{{ url_for('static',filename='scripts/login.js') }}"> </script>
</body>
</html>
